# Virtual environment
venv/

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Ignore all datasets
data/*.csv

# Ignore large saved models
app/models/*.pkl
app/models/bert_model/

# Optional temp outputs
app/static/outputs/